<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ThymeleafDemo</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style0.css}"/>
</head>
<body>
<div class="container">
    <h2>Thymeleaf demo</h2>
    <hr>
    <p th:text="'Time on the server is '+${theDate}" class="funny">Some Info: </p>
    <br>
    <a href="/customers/list">>> get customer list</a>
</div>
</body>
</html>